[Desktop Entry]
Name=Kernel Installer
Name[es]=Instalador de Kernel
Name[fr]=Installateur de Noyau
Name[pt]=Instalador de Kernel
Name[de]=Kernel-Installer
Name[it]=Installatore di Kernel
Name[ro]=Instalator de Kernel
Name[ru]=Установщик ядра
GenericName=Kernel Manager
GenericName[es]=Gestor de Kernel
GenericName[fr]=Gestionnaire de noyau
GenericName[pt]=Gestor de kernel
GenericName[de]=Kernel-Verwalter
GenericName[it]=Gestore del kernel
GenericName[ro]=Manager kernel
GenericName[ru]=Менеджер ядра
Comment=Download, compile and install the Linux kernel with optimized profiles
Comment[es]=Descarga, compila e instala el kernel Linux con perfiles optimizados
Comment[fr]=Téléchargez, compilez et installez le noyau Linux avec des profils optimisés
Comment[pt]=Descarregue, compile e instale o kernel Linux com perfis otimizados
Comment[de]=Kernels mit optimierten Profilen herunterladen, kompilieren und installieren
Comment[it]=Scarica, compila e installa il kernel Linux con profili ottimizzati
Comment[ro]=Descărcați, compilați și instalați nucleul Linux cu profiluri optimizate
Comment[ru]=Скачивайте, компилируйте и устанавливайте ядро Linux с оптимизированными профилями
Exec=kernel-installer
Icon=org.soplos.kernel-installer
Terminal=false
Type=Application
Categories=System;Settings;
Keywords=kernel;linux;compile;install;update;
StartupNotify=true
StartupWMClass=org.soplos.kernel-installer
